<!-- 
                            <!-- Divider-->
                            <hr class="my-4" />

        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">

                      <!-- Posts-->
                      <% records.reverse().forEach( record=>{ %>
                      <div class="post-preview">
                        <a>
                            <h2 class="post-title"><%= record.postHeader %></h2>
                            <h3 class="post-subtitle"><%= record.postContent %></h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!"><%= record.userName %></a>
                            <% record.createdAt %>
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Comming soon -->

                    <!-- <button class="btn btn-primary">Update</button> -->
                    <div class="container">
                        <div class="row ">
                            <!-- Delete Form -->
                         <form action="/deletePost/<%= record._id %>" method="POST" class="col-md-6" onsubmit="return confirm('Are you sure you want to delete this record?')">
                         <button type="submit" class="btn btn-danger mb-1">Delete</button>
                         <input type="hidden" name="userId" value="<%= record.userId %>">
                         </form>
                         <!-- Update -->
                         <form action="" class="col-md-6">
                         <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Update</button>
                         </form>
                        </div>
                    </div>
                    <% }) %>
                    </div>

                </div>
            </div>
        </article>

        
        <!-- Divider-->
        <hr class="my-4" />
